:root {
    --bs-primary: #3c45b9 !important;
}
.bg-primary {
    background-color: #3c45b9 !important;
}
.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important; /* Adjust text color for contrast */
}
.btn-custom {
background-color: #3c45b9 !important;
border-color:#3c45b9 !important;
color: rgb(255, 255, 255) !important; /* Ensures readability */
}

.btn-custom:hover {
    background-color: #323995 !important; /* Slightly darker shade for hover effect */
    border-color: #323995 !important;
}